{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier"],
  "extends": [
    "eslint:recommended",
    "airbnb",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "prettier/@typescript-eslint",
    "prettier"
  ],
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "mocha": true
  },
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ],
    "no-restricted-imports": [
      "error",
      {
        "patterns": ["@material-ui/*/*/*", "!@material-ui/core/test-utils/*"]
      }
    ],
    //0 - off / 1 - warn / 2 - error
    "max-len": ["error", { "code": 120 }],
    "no-console": 1, // disallow the use of `console`
    "import/prefer-default-export": "off",
    "import/no-unresolved": "off",
    "import/extensions": "off",
    "no-use-before-define": "off",
    "radix": "off",
    "eol-last": 1, // require or disallow newline at the end of files
    "no-alert": 1, // disallow the use of `alert`, `confirm`, and `prompt`
    "no-lone-blocks": 2, // disallow unnecessary nested blocks
    "no-unreachable": 2, // disallow unreachable code after `return`, `throw`, `continue`, and `break` statements
    "default-case": 1, // require `default` cases in `switch` statements
    "no-empty-function": 2,
    "no-shadow": "off",
    "no-restricted-syntax": "off", // TODO: active later
    "prefer-destructuring": "off", // TODO: active later
    "no-case-declarations": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".tsx", ".jsx"] }],
    "react/jsx-closing-bracket-location": "off",
    "react/jsx-wrap-multilines": "off",
    "react/jsx-props-no-spreading": "off",
    "react/require-default-props": "off",
    "react/prop-types": "off",
    "@typescript-eslint/no-empty-function": 1,
    "@typescript-eslint/no-unresolved": 0,
    "@typescript-eslint/no-unused-vars": 0,
    "@typescript-eslint/no-var-requires": 1,
    "@typescript-eslint/ban-ts-ignore": "off",
    "@typescript-eslint/ban-ts-comment": "off"
  }
}
