/**
 * BACKGROUNDS COLORS
 */
$bgAppBarGrayColor: #f5f5f5;
$bgLightGrayColor: #fafafa;
$bgGreenColor: #67ac5b;
$bgGrayColor: #e0e1e2;
$bgBlueColor: #414b70;
 
/**
  * TEXTS COLORS
  */
$textNormalColor: #313955;
$textGrayColor: #5a5a5a;
$textWhiteColor: #fff;
 
/**
  * BUTTONS COLORS
  */
$activeBtnColor: #3174de;
 
/**
  * OTHERS COLORS
  */
$white: white;
$black: black;
$red: red;
$green: green;
$blue: blue;
 
/**
  * FONTS
  */
$fontBold: 700;
$fontRegular: 400;
 
 /**
  * SPACINGS
  */
$xsmall: 4px;
$small: 8px;
$medium: 16px;
$large: 36px;
$xlarge: 72px;
 
 /**
  * APP
  */
html {
     background-color: $white;
}
 
* {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}
 
body {
    margin: 0;
    padding: 0;
     font-family: "Lato", sans-serif;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
     overflow: hidden;
}
 
#root {
    display: flex;
    width: 100vw;
    height: 100vh; /* Use vh as a fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
}

.moveDirForm {
    margin-top: 10px;
    display: flex;
    position: absolute;
    flex-direction: column;
    min-height: 492px;
    max-height: 492px;
    overflow-y: scroll;
    background-color: $white;

    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

 /** 
 * IMPORTS
 */
@import "styles/templates", "styles/pages", "styles/organisms", "styles/molecules", "styles/atoms";